<div class="row">
	<div class="col">
		<form>
			<div class="form-group">
				<label for="name">Order up!</label>
				<input type="text" class="form-control" placeholder="What kind of burger would you like?">
			</div>
			<button class="btn btn-primary submit-btn">Submit</button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">Fresh</div>
			<div>
				<ul class="list-group list-group-flush">
					{{#each freshBurgers}}
					<li class="list-group-item burger-list-item">
						{{name}}
						<div>
							<button data-id="{{id}}" class="btn btn-warning btn-sm devour-btn">Devour!</button>
							<button data-id="{{id}}" class="btn btn-danger btn-sm delete-btn">Trash it!</button>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">Devoured</div>
			<div>
				<ul class="list-group list-group-flush">
					{{#each devouredBurgers}}
					<li class="list-group-item burger-list-item">
						{{name}}
						<button data-id="{{id}}" class="btn btn-success btn-sm regurgitate-btn">Regurgitate!</button>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row"></div>